a {
    text-decoration: none;
}
.right-layout {
    float: right;
    width: 1000px;
}

.left-layout {
    float: left;
    width: 200px;
}
.img-fix-size{
    width: 200px;
}
.mar-left{
    float: left;
    max-width: 96%;
}
.mar-right{
    float: right;
}